/* Custom Stylesheet */

body {
	text-align: center;
	background: #ffffff;
}

.article-img {
	min-width: 10px;
	min-height: 300px;
	background-position: center top;
    background-size: cover;
}

.text.container {
	position: relative;
	top: 100px;
	max-width: 927px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

h1, h2, h3, h4, h5, h6, p {
	font-weight: normal;
	font-family: Georgia;
}

h1 {
	font-family: Georgia;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1em;
}

hr {
	margin-bottom: 50px;
}

p {
	font-size: 16px;
	color: #444;
	line-height: 1.5em;
}

blockquote {
	background-color: #fefefe;
	/*color: gray;*/
	/*margin:0;*/
	padding-left: 3em;
	border-left: 0.5em #EEE solid;
}

blockquote p {
	color: gray;
}